.App {
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;
  background-color: "#ccc";
  border: 5px solid #ccc;
  padding: 50px;
  width: 600px;
}

button{
  margin-right: 35px;
  text-align: center;
  height: 30px;
  width: 61px;
}
